<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fa¢age</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/drag.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/buttons.css')}}">

</head>
<body style="margin:100px;padding:50px; font-family: 'Roboto', sans-serif;">
<center>

    <div class="container">
      <div class="row">
        <div class="col">

    <h1>A.G.E. </h1>
    <div>
        

    </div>
          <hr>

    
    <div>
        <img src="{{ url_for('send_A_G_E_file', filename=face_segregation) }}" />
    </div>
    <div >
        <img src="{{ url_for('send_A_G_E_file', filename=estimations) }}" />
    </div>

    
</center>

</body>
<script  src="{{ url_for('static', filename='js/drag.js')}}" data-turbolinks-track="reload"></script>
</html>

