<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Face with ID</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/drag.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/buttons.css')}}">

</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col">

    <h1>Face detect </h1>
    <div>
        Face detection is the first step used by Facelib to perform an analysis on the picture
        uploaded by the users. It crops out and segments the faces present in the image. It 
        finds the markers present for each face found in the image and utilizes those later
        to find the desired outputs.

    </div>
          <hr>

    
    <div>
        <img src="{{ url_for('send_A_G_E_file', filename=face_segregation) }}" />
    </div>
    <div >
        <img src="{{ url_for('send_A_G_E_file', filename=estimations) }}" />
    </div>

    

</body>
<script  src="{{ url_for('static', filename='js/drag.js')}}" data-turbolinks-track="reload"></script>
</html>

