<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detect</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/drag.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/buttons.css')}}">

</head>
<body style="margin:100px;padding:50px; font-family: 'Roboto', sans-serif;">
<center>
    <div class="container">
      <div class="row">
        <div class="col">

    <h1>Face detect </h1>
    <div>
        Face detection is the first step used by Facelib to perform an analysis on the picture
        uploaded by the users. It crops out and segments the faces present in the image. It 
        finds the markers present for each face found in the image and utilizes those later
        to find the desired outputs.

    </div>
          <hr>

    
    <div class="resizable">
        <img src="{{ url_for('send_detection_file', filename=face_segregation) }}" />
    </div>

    <hr>

    <h1>Face markers </h1>
    <div>
        Face markers indicate the position of the eyes, the tip of the nose and 
        the left and right end of the mouth. Those are used for...

    </div>

    <div class="resizable">
        <img src="{{ url_for('send_detection_file', filename=face_markers) }}" />
    </div>

    
</center>
</body>
<script  src="{{ url_for('static', filename='js/drag.js')}}" data-turbolinks-track="reload"></script>
</html>

