<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fa¢age</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/drag.css')}}">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/buttons.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body style="margin:100px;padding:50px; font-family: 'Roboto', sans-serif;">
<center>
    <div class="container">
      <div class="row">
        <div class="col">

    <h1>Face Detect & A.G.E. estimation</h1>
    <div >
      Upload any picture and predict age, gender, emotion of humans on it. The picture format or size can be whatever you please. 
      On top of that check on the Face Detect, to inform yourself about the already trained NeuralNets that are being used to perform this
      actions. And on top of that why FaceDetection and landmarks are used to predict A.G.E. The picture can contain multiple faces or
      none. Detection, alignment, age&gender&emotion prediction will be done for all of them. 
      
          </div>
          <hr>

    <form action="/upload-image" method="POST" enctype="multipart/form-data">

    <div class="form-group">
              <label>Select image</label>
              <div class="custom-file">
                <input type="file" class="button button1" name="image"

    id="image">
                <label class="button button1" for="image">Select image...</label>
              </div>
            </div>
    <button type="submit" class="button button2">Upload</button>
    </form>

        </div>
      </div>
    </div>
        <div class="resizable">
            <img src="{{ url_for('send_uploaded_file', filename=uploaded_image) }}" />
        </div>
    
    <hr>

    <div>
      <a href="{{ url_for('send_face_detection_analysis', filename=uploaded_image) }}" class="button button1"> Face Detection</a>
      <a href="{{ url_for('send_age_gender_emotion_analysis', filename=uploaded_image) }}" class="button button2"> Age, Gender & Emotion prediction</a>
    </div>


  
</center>   
</body>
<script  src="{{ url_for('static', filename='js/drag.js')}}" data-turbolinks-track="reload"></script>
</html>

